<!DOCTYPE html>
<html>
<head>
  <title>Authentication</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg.html_safe, :id => "flash_#{name}", :class => name if msg.is_a?(String) %>
<% end %>

<%= yield %>

</body>
</html>
